body {
    font-family: Arial, sans-serif;
    background-color: #fff6e9;
    color: #0d9276;
    margin: 0;
    padding: 0;
}

.menu {
    background-color: #bbe2ec;
    padding: 10px 0;
}

.menu nav {
    text-align: center;
}

.menu nav a {
    color: #40a2e3;
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
}

.menu nav a:hover {
    color: #ffffff;
}

h1 {
    color: #40a2e3;
    /*text-align: center;*/
}

.button1 {
    background-color: #40a2e3;
    color: #fff6e9;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

.button1:hover {
    background-color: #0d9276;
}

form {
    /*text-align: center;*/
    margin-top: 20px;
}

form select, form input[type="submit"] {
    background-color: #40a2e3;
    color: #fff6e9;
    border: none;
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
}

form input[type="submit"] {
    cursor: pointer;
}

form select:hover, form input[type="submit"]:hover {
    background-color: #0d9276;
}

table {
    width: 50%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    border: 1px solid #40a2e3;
    padding: 10px;
}

table th {
    background-color: #bbe2ec;
    color: #0d9276;
}

table a {
    text-decoration: none;
    color: #0d9276;
}

table button {
    background-color: #40a2e3;
    color: #fff6e9;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
}

table button:hover {
    background-color: #0d9276;
}
